<!-- no needt to be used at all, instead, use: -->
<!-- rosrun rosserial_python serial_node.py _baud:=115200 _port:="/dev/ttyUSB1"    //or whatever the port name -->

<launch>
    <arg name="port" default="/dev/ttyUSB0" />
    <arg name="baudrate" default="57600" />

    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="$(arg port)" />
        <param name="baud" value="$(arg baudrate)" />
    </node>
</launch>

<!-- to use it in terminal -->
<!-- roslaunch <package_name> serial.launch -->
